body
{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRbCE6kmG54g2NQY0Rpn0XMayOxU_RBS83mCQ&usqp=CAU);
    background-size: 800px 1200px;
    background-repeat: no-repeat;
    background-position: 350px 0px;
}

footer
{
    position: relative;
    padding: 50px;
}
html
{
    margin: 50px;
}
p
{
    color: black;
    size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.progress-bar {
    background-color: #1a1a1a;
    height: 25px;
    padding: 5px;
    width: 350px;
    margin: 50px 0;         
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;           
  }
  
  .progress-bar span {
    display: inline-block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out; 
    background-color: #ccc;   
  }
  
  .orange span {
    background-color: #fecf23;
    background-image: linear-gradient(top, #fecf23, #fd9215);  
  }   
  
  
